spring:
  profiles:
    active: local

---
# local
spring:
  config:
    activate:
      on-profile: local
    import: "classpath:profile/local/application-local.yml"

---
# prod
spring:
  config:
    activate:
      on-profile: prod
    import: "classpath:profile/prod/application-prod.yml"

  security:
    oauth2:
      client:
        registration:
          google:
            scope:
              - email
              - profile

jwt:
  access-token-expire-seconds: 1800
  refresh-token-expire-seconds: 1209600


